MPESA_CONSUMER_KEY=RSbVAnDLWnKD3vfD03D462AXIqouFt3XoXuA2zvFETQRGhgS
MPESA_CONSUMER_SECRET=u7fus3vBoxJ5NPVHzYbZYJRPaP1gWePYhUQcB8KLf1W3f1gI97fO3VjHHY6Qodm8
MPESA_CALLBACK_URL=https://freshfity-backend.onrender.com/api/mpesa/callback
PORT=5001
